body{
    margin:0;
}

.red
{
  height: 200px;
  width: 200px;
  background-color: red;
  position:relative;
  top:50px;
}


.pink
{
  height: 200px;
  width: 200px;
  background-color:pink;
  position: relative;
  top: 50px;
  left: 200px;
}

.orange
{
  height: 200px;
  width: 200px;
  position:relative;
  background-color:orange;
  left: 400px;
 top:50px;
}
